@use 'scss/unit' as u;
@use 'scss/color';

.wrapper {
  height: 100dvh;
}

.track {
  height: 100%;
  right: 0;
  top: 0;
  z-index: 10;
}

.thumb {
  background: color.get(white) !important;
  border-radius: u.rem-calc(20);
  right: u.rem-calc(2);
}
