@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/font';
@use 'scss/unit' as u;

$padding-x: u.rem-calc(34);
$padding-mobile: u.rem-calc(14);

.wrapper {
  display: flex;
  flex-direction: column;
}

.inner {
  background: color.get(white);
  color: color.get(gray);
  padding: u.rem-calc(24) $padding-x;
  position: relative;

  @include bp.down(sm) {
    padding: u.rem-calc(24) $padding-mobile;
  }
}

.image {
  width: 100%;
}

.title {
  margin-bottom: u.rem-calc(15);

  @include bp.down(xs) {
    margin-bottom: u.rem-calc(10);
  }
}

.description {
  font-weight: 900;
}

.label {
  background: color.get(orange);
  bottom: 0;
  color: color.get(gray);
  font-weight: 900;
  position: absolute;
  right: $padding-x;
  text-transform: uppercase;
  transform: translateY(50%);

  @include bp.down(sm) {
    padding: u.rem-calc(4) u.rem-calc(8);
    right: $padding-mobile;
  }
}

.buttons {
  display: flex;
  gap: u.rem-calc(25);
  margin-top: u.rem-calc(25);

  @include bp.down(xs) {
    gap: u.rem-calc(15);
    margin-top: u.rem-calc(15);
  }
}

.is-large-variant {
  .title {
    font-size: u.rem-calc(48);

    @include bp.down(sm) {
      font-size: u.rem-calc(28);
    }
  }

  .description {
    font-size: u.rem-calc(24);

    @include bp.down(sm) {
      font-size: u.rem-calc(18);
    }
  }

  .label {
    padding: u.rem-calc(8) u.rem-calc(12);

    @include bp.down(sm) {
      padding: u.rem-calc(4) u.rem-calc(8);
    }
  }
}

.is-small-variant {
  .title {
    font-size: u.rem-calc(36);

    @include bp.down(sm) {
      font-size: u.rem-calc(20);
    }
  }

  .description {
    font-size: u.rem-calc(18);

    @include bp.down(sm) {
      font-size: u.rem-calc(12);
    }
  }

  .label {
    padding: u.rem-calc(4) u.rem-calc(8);

    @include bp.down(sm) {
      padding: u.rem-calc(2) u.rem-calc(4);
    }
  }
}
