@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/config/variables' as v;
@use 'scss/unit' as u;

.wrapper {
  display: flex;
  position: fixed;
  background: rgba(20, 20, 20, 95%);
  backdrop-filter: blur(u.rem-calc(20));
  width: 100%;
  top: 0;
  height: v.$navigation-height;
  z-index: 4;
}

.inner {
  width: 100%;
  max-width: v.$max-width;
  padding: 0 v.$padding;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bp.down(lg) {
    flex-wrap: wrap;
    gap: u.rem-calc(5);
    height: unset;
  }

  @include bp.down(sm) {
    padding: 0 v.$padding-mobile;
  }
}

.links {
  display: flex;
  align-items: center;
  column-gap: u.rem-calc(50);
  margin: 0 auto 0 u.rem-calc(86);
  white-space: nowrap;

  @include bp.down(lg) {
    margin: 0;
    order: 3;
    width: 100%;
    border-top: u.rem-calc(2) solid color.get(white);
    padding-top: u.rem-calc(10);
    overflow: auto;
    scrollbar-width: none;
    height: u.rem-calc(40);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.link {
  color: color.get(white);
  font-weight: 900;
}

.dropdownButton {
  color: color.get(white);
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: u.rem-calc(6);
  cursor: pointer;
  font-weight: 900;
}

.dropdownLinks {
  display: flex;
  flex-direction: column;
  padding: u.rem-calc(10) u.rem-calc(14);

  :not(:last-child) {
    margin-bottom: u.rem-calc(8);
  }
}

.dropdownLink {
  font-weight: 900;
  color: color.get(gray);
}

.arrow {
  width: u.rem-calc(10);

  path {
    fill: color.get(white);
  }
}

.logo {
  min-width: u.rem-calc(110);
  height: u.rem-calc(76);
  display: block;

  @include bp.down(lg) {
    height: u.rem-calc(60);
  }
}

.user {
  cursor: pointer;
  display: block;
  min-width: u.rem-calc(34);
  height: u.rem-calc(34);
  background: none;
  border: none;
}

.userIcon {
  pointer-events: none;

  path {
    fill: color.get(white);
  }
}
