@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/config/variables' as v;
@use 'scss/unit' as u;
@use 'scss/font';
@use 'scss/placeholders/popover-button';

.wrapper {
  backdrop-filter: blur(u.rem-calc(20));
  background: rgba(20, 20, 20, 75%);
  display: flex;
  height: v.$navigation-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  max-width: v.$max-width;
  padding: 0 v.$padding;
  width: 100%;

  @include bp.down(lg) {
    flex-wrap: wrap;
    gap: u.rem-calc(5);
    height: unset;
  }

  @include bp.down(sm) {
    padding: 0 v.$padding-mobile;
  }
}

.links {
  align-items: center;
  column-gap: u.rem-calc(50);
  display: flex;
  margin: 0 auto 0 u.rem-calc(86);
  white-space: nowrap;

  @include bp.down(lg) {
    border-top: u.rem-calc(2) solid color.get(white);
    height: u.rem-calc(40);
    margin: 0;
    order: 2;
    overflow: auto;
    padding-top: u.rem-calc(10);
    scrollbar-width: none;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.link {
  color: color.get(white);
  font-weight: 900;
}

.dropdownButton {
  align-items: center;
  background: none;
  border: none;
  color: color.get(white);
  cursor: pointer;
  display: flex;
  font-family: font.get(primary);
  font-weight: 900;
  gap: u.rem-calc(6);
}

.dropdownLinks {
  display: flex;
  flex-direction: column;
  padding: u.rem-calc(20);
}

.dropdownLink {
  color: color.get(black);
  font-weight: 900;
  padding: u.rem-calc(5) 0;
}

.userButtons {
  display: flex;
  flex-direction: column;
  padding: u.rem-calc(10) u.rem-calc(14);

  :not(:last-child) {
    margin-bottom: u.rem-calc(8);
  }
}

.userButton {
  @extend %popover-button;
}

.arrow {
  width: u.rem-calc(10);

  path {
    fill: color.get(white);
  }
}

.logo {
  height: u.rem-calc(76);
  max-width: u.rem-calc(110);

  @include bp.down(lg) {
    height: u.rem-calc(60);
  }
}

.user {
  background: none;
  border: none;
  cursor: pointer;
  height: u.rem-calc(34);
  max-width: u.rem-calc(34);
}

.userIcon {
  pointer-events: none;

  path {
    fill: color.get(white);
  }
}
