@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/config/variables' as v;
@use 'scss/unit' as u;
@use 'scss/placeholders/separator';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(30);
  margin: calc(v.$navigation-height + u.rem-calc(55)) auto 0;
  max-width: v.$max-width;
  padding: 0 v.$padding;
  position: relative;

  @include bp.down(md) {
    gap: u.rem-calc(20);
  }

  @include bp.down(sm) {
    padding: 0 v.$padding-mobile;
  }
}

.imageWrap {
  position: relative;
}

.image {
  width: 100%;
}

.separator {
  @extend %separator;
}
