@use 'scss/breakpoint' as bp;
@use 'scss/config/variables' as v;
@use 'scss/unit' as u;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: v.$max-width;
  min-height: 100vh;
  padding: u.rem-calc(60) v.$padding;

  @include bp.down(sm) {
    padding: u.rem-calc(30) v.$padding-mobile;
  }
}

.grid {
  display: grid;
  gap: u.rem-calc(40);
  grid-template-columns: repeat(3, 1fr);
  margin-top: u.rem-calc(55);

  @include bp.down(md) {
    gap: u.rem-calc(20);
    grid-template-columns: repeat(2, 1fr);
    margin-top: u.rem-calc(35);
  }

  @include bp.down(xs) {
    gap: u.rem-calc(10);
    grid-template-columns: 1fr;
  }
}

.pagination {
  display: flex;
  gap: u.rem-calc(20);
  margin-top: u.rem-calc(20);
}
