/**
 * Typography setup
 */

$heading-tags: (h1, h2, h3, h4, h5, h6);

$styles: (
  h1: (
    font-size: 128,
    lg: (
      font-size: 112,
    ),
    md: (
      font-size: 86,
    ),
    sm: (
      font-size: 58,
    ),
    xs: (
      font-size: 40,
    ),
  ),
  h2: (
    font-size: 64,
    md: (
      font-size: 48,
    ),
    sm: (
      font-size: 34,
    ),
    xs: (
      font-size: 24,
    ),
  ),
  h3: (
    font-size: 64,
    line-height: 52,
    sm: (
      font-size: 34,
    ),
    xs: (
      font-size: 24,
    ),
  ),
  text: (
    font-size: 24,
    xs: (
      font-size: 18,
    ),
  ),
  text-small: (
    font-size: 24,
    line-height: 23,
    sm: (
      font-size: 14,
    ),
  ),
  label: (
    font-size: 18,
    xs: (
      font-size: 12,
    ),
  ),
);
