/**
 * Typography setup
 */

$heading-tags: (h1, h2, h3, h4, h5, h6);

$styles: (
  h1: (
    font-size: 128,
    xs: (
      font-size: 34,
    ),
  ),
  text: (
    font-size: 32,
    xs: (
      font-size: 16,
    ),
  ),
  text-small: (
    font-size: 24,
    xs: (
      font-size: 14,
    ),
  ),
  label: (
    font-size: 18,
    xs: (
      font-size: 12,
    ),
  ),
);
