/**
 * Variables
 */
@use 'scss/unit' as u;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;900&display=swap');

$fonts: (
  primary: (
    'Heebo',
    sans-serif,
  ),
);

$colors: (
  black: #0f0f0f,
  white: #f1f1f1,
  gray: #1e1e1e,
  orange: #ff9900,
  red: #f80000,
);

$breakpoints: (
  xs: 480,
  sm: 768,
  md: 992,
  lg: 1220,
  xl: 1650,
);

$navigation-height: u.rem-calc(130);
$navigation-height-mobile: u.rem-calc(90);
$padding: u.rem-calc(40);
$padding-mobile: u.rem-calc(20);
$max-width: u.rem-calc(1520);
