@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;
@use 'scss/color' as c;

.slideWrapper {
  max-width: u.rem-calc(686);
  position: relative;
}

.slide {
  cursor: pointer;
}

.wrapper {
  position: relative;

  &:hover .slideWrapper:not(:hover) {
    &::before {
      backdrop-filter: blur(u.rem-calc(10));
    }
  }

  @include bp.up(sm) {
    :global(.swiper) {
      overflow: visible !important;
    }
  }
}
